@{
  Layout = "_Layout";
}

<h1>Welcome to Dr. Sillystringz's Factory Foreman app</h1>

<p>@Html.ActionLink("See all engineers", "Index", "Engineers",new { area = "" }, new { @class = "accept" })</p> 
<p>@Html.ActionLink("See all machines", "Index", "Machines",new { area = "" }, new { @class = "accept" })</p>